@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 500;
	src: local("Gilroy"),
		url("/src/fonts/Gilroy-Medium.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 700;
	src: local("Gilroy"),
		url("/src/fonts/Gilroy-Bold.woff") format("woff");
}

@font-face {
	font-family: "Gilroy";
	font-style: normal;
	font-weight: 800;
	src: local("Gilroy"),
		url("/src/fonts/Gilroy-ExtraBold.woff") format("woff");
}